{% extends 'base.html' %}
{% load static %}
<!-- add to django -->
{% block content %}
  <main>
    <div class="container">
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
          <h2>삼겹살</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
          <h2>짜장면</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
          <h2>돈까스</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
          <h2>삼겹살</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
          <h2>짜장면</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
          <h2>돈까스</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
          <h2>삼겹살</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
          <h2>짜장면</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
          <h2>돈까스</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
          <h2>삼겹살</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
          <h2>짜장면</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
          <h2>돈까스</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
          <h2>삼겹살</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
          <h2>짜장면</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
          <h2>돈까스</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
          <h2>삼겹살</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food3.jpg' %}" alt="Post 2 Thumbnail">
          <h2>짜장면</h2>
        </a>
      </div>
      <div class="post">
        <a href="{% url 'board:boarddetail' %}">
          <img src="{% static 'images/food4.jpg' %}" alt="Post 3 Thumbnail">
          <h2>돈까스</h2>
        </a>
      </div>
    </div>
  </main>
{% endblock %}
