{% extends 'base.html' %}
{% load static %}
<!-- add to django -->
{% block content %}
<div class="header">
  <button class="filter-btn">필터</button>
  <!-- <button class="create-board-btn">게시판 생성</button> -->
  <a href="{% url 'board:board_create' %}" class="create-board-btn">게시판 생성</a>
</div>
  <main>
    <div class="container">
      {% for board in board_list %}
        <div class="post">
          <a href="/board/board_detail/{{board.id}}">
            <img src="{% static 'images/food2.jpg' %}" alt="Post 1 Thumbnail">
            <h2>{{ board.title }}</h2>
          </a>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
