{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Online Food Shopping Mall</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <a href="{% url 'home' %}"><h1>Allergen</h1></a>
        </div>
        <div class="search">
          <form action="{% url 'searchapp:searchResult' %}" method="get">
            <div class="rangedropdown">
              <button class="dropbtn">검색범위</button>
              <div class="dropdown-content">
                <a href="#" class="search-scope-btn" data-search-scope="all">전체</a>
                <a href="#" class="search-scope-btn" data-search-scope="board">게시판</a>
                <a href="#" class="search-scope-btn" data-search-scope="food">식품</a>
              </div>
            </div>
            <input type="text" placeholder="원하는 상품을 검색해보세요" name="kw">
            <button type="submit">검색</button>
            <div class="dropdown">
              <button class="dropbtn">알레르기</button>
              <div class="dropdown-content">
                <a href="#" class="allergen-btn" data-allergen="난류">난류</a>
                <a href="#" class="allergen-btn" data-allergen="우유">우유</a>
                <a href="#" class="allergen-btn" data-allergen="땅콩">땅콩</a>
                <a href="#" class="allergen-btn" data-allergen="생선">생선</a>
              </div>
            </div>
          </form>
          <div id="selected-allergens"></div>
        </div>
        <div class="menu">
          <ul>
            <li><a href="{% url 'board:board' %}">Board</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'signapp:mypage' %}">{{ username }}</a></li>
            <li><a href="{% url 'signapp:login' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signapp:mypage' %}">MyPage</a></li>
            <li><a href="{% url 'signapp:login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
      
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="color-blocks"></div>
    </footer>
  </body>
  <script src="{% static 'js/app.js' %}"></script>
</html>
