{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Search results for "{{ detail.prdlstNm }}"</h1>
<main>
  <div class="food-details">
      <!-- <img src="{% static 'food-image.jpg' %}" alt="Food Image"> -->
      <img src="{{ detail.image }}" alt="Food Image">
      <div class="food-info">
        <h2>Food Name</h2>
        <p>Description information about the food.</p>
        <form action="https://search.shopping.naver.com/search/all" method="GET">
            <input type="hidden" name="query" value="{{ detail.name }}">
            <button class="buy" type="submit"> 구매하기 </button>
        </form>
        <div class="like-button-container">
          <button class="like-button" aria-label="Like"></button>
        </div>
      </div>
  </div>
</main>
<div id="recommend"></div>
<div class="picture-grid">
  {% for collarbor in collarbors %}
    <div class="picture">
      <a href="{% url 'searchapp:Detail' %}?pk={{ collarbor.prdlstReportNo }}">
        <img src="{{ collarbor.image }}" alt="{{ collarbor.prdlstNm }}">
        <p>{{ collarbor.prdlstNm }}</p>
      </a>
    </div>
    {% empty %}
      <h4>결과 없음</h4>
  {% endfor %}
</div>

<div class="picture-grid">
  {% for similarity in similarities %}
    <div class="picture">
      <a href="{% url 'searchapp:Detail' %}?pk={{ similarity.prdlstReportNo }}">
        <img src="{{ similarity.image }}" alt="{{ similarity.prdlstNm }}">
        <p>{{ similarity.prdlstNm }}</p>
      </a>
    </div>
    {% empty %}
      <h4>결과 없음</h4>
  {% endfor %}
</div>
{% endblock %}
