{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Search results for "{{ query }}"</h1>
<main style="background-color: #fff;">
  <div class="picture-grid">
    {% for product in products %}
      <div class="picture">
        <a href="{% url 'searchapp:Detail' %}?pk={{ product.prdlstReportNo }}">
          <img src="{{ product.image }}" alt="{{ product.prdlstNm }}">
          <p>{{ product.prdlstNm }}</p>
        </a>
      </div>
      {% empty %}
        <h4>결과 없음</h4>
    {% endfor %}
  </div>
</main>
{% endblock %}

